.App{
  display:block;
  margin:0 auto;
  padding:0;
}
#searchDiv{
  display:block;
  margin:0 auto;
  position:absolute; 
  top:65%;
  left:34%;
}
.displayCity{
  display:block;
  text-align: center;
  margin:0 auto;
  position:absolute;
  background-color:#e3d4c6;
  top:80%;
  left:22.5%;
padding-top:30px;
padding-bottom: 30px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px  rgb(121, 104, 104);;
  
}


  .footer{
    width:100vw;
    display:block;
    margin: 0 auto;
    background-color:#ffffff ;
    text-align: center;
    padding:10px;
    position:absolute;
    bottom:-80%;
    
  }