.App{
  display:block;
  margin:0 auto;
  padding:0;
}
#searchDiv{
  display:block;
  margin:0 auto;
  position:absolute; 
  top:65%;
  left:34%;
}
.displayCity{
  display:block;
  width: 850px;
  text-align: center;
  margin:0 auto;
  position:absolute;
  top:91%;
  left:18%;
padding-bottom: 50px;
  
}


  .footer{
    width:100%;
    display:block;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color:#ffffff ;
    text-align: center;
    padding:10px;
    position:absolute;
  bottom:-110%;
    
  }