.Searchcontainer{
  display:block;
  margin:0 auto;
  position:absolute; 
  top:50%;
  left:34%;
}


.displayCity{
  display:block;
  text-align: center;
  margin:0 auto;
  position:absolute;
  background-color:#e3d4c6;
  top:73%;
  left:20%;
  padding-top:60px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px  rgb(121, 104, 104);;
  
}
.clock{top:25%;
    left:45%;}