body{
    background-image:linear-gradient(to left, rgb(58, 39, 114) , rgb(64, 118, 183), rgb(27, 109, 86) );
    padding-top:10px;
   
}
.loadingIcon{
    position:absolute;
    left: 350px;
    }
.error{
    display:block;
    margin: 0 auto;  
    width: 600px;
    position:absolute;
    left: 75px;
    font-size: 1.2em;
}
.introdiv{
    display:block;
    margin:0 auto;
    text-align: center;
    color: rgb(239, 221, 192);
    font-size: 1.2rem;
}
.introdiv p{
    font-size:1.5rem ;
}